<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fast.fastvpnsecured">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastVPNSecured"
        tools:replace="android:theme">
        <activity android:name=".view.SideMenuFeatureActivity"
            android:theme="@style/TitleWithoutToolbar"
            />
        <activity
            android:name=".view.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TitleWithoutToolbar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="" />

        <activity
            android:name=".view.ServerChooserActivity"
            android:theme="@style/TitleWithoutToolbar" />
        <activity
            android:name=".view.VPNEActivity"
            android:theme="@style/TitleWithoutToolbar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/TitleWithoutToolbar">

            <!-- <intent-filter android:autoVerify="true"> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="xxxx.app.link" -->
            <!-- android:scheme="https" /> -->
            <!-- <data -->
            <!-- android:host="xxxx-alternate.app.link" -->
            <!-- android:scheme="https" /> -->


            <!-- </intent-filter> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="com.fast.fastvpnsecured" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="example.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="example-alternate.app.link" />
            </intent-filter>
        </activity>
    </application>

</manifest>